main {
    background: rgb(41,146,238);
    background: linear-gradient(0deg, rgba(41,146,238,1) 0%, rgba(255,255,255,1) 50%, rgba(41,146,238,1) 100%);
    padding-bottom: 15px;
    min-width:480px;
}
.container {
    padding-left: 24px;
    padding-right: 24px;
    margin-left:auto;
    margin-right:auto;


    @media screen and (min-width:1200px) {
        max-width: 1200px;
    }
}


.navigation {
    display: flex;
    justify-content: space-between;
    border: 1px;
    min-width: 432px;

    @media screen and (min-width:1024px) {
        padding: 15px 0;
    }
}

.navigation-logo-mob  {
    @media screen and (min-width:1024px) {
        display: none;
    }
}

.navigation-logo {
    @media screen and (min-width:1024px) {
        display: none;
    }
}

.navigation-logo-desct {
    @media screen and (max-width:1024px) {
        display: none;
    }
}

.navigation-list 
{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: auto 0px;
    width: 100%;

} 

.navigation-item {
    font-size: 20px;
    text-transform: none;
    justify-content: space-between;
    margin-right:100px;
 
    @media screen and (max-width:1024px) {
        display: none;
    }
} 

.navigation-link,
.navigation-link:active,
.navigation-link:focus  {
    text-decoration: none;
    color:#1d1c1c;
}

.navigation-link:hover
{
    text-decoration:underline;
}

.button-mobile {
    display: inline-block;
    padding: 0;
    border: 0;
    background-color: rgba(0,0,0,0);

    @media screen and (min-width:1024px) {
        display: none;
    }
}

.navigation-logo{
    display:flex;
    justify-content: center;
}


.banner-photo {
  margin:0px;
  padding: 0px;
  text-align: center;
}

.banner-desct {
    @media screen and (max-width:1023px) {
        display: none;
    }
}

.banner-mob {
    @media screen and (min-width:1024px) {
        display: none;
    }
}

.main-title {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color:#FFFFFF;

    @media screen and (min-width:1024px) {
        font-size: 48px;
    }
}
.button-donate {
    margin: 15px auto;
    display: flex;
    border-radius: 30px;
    padding: 18px 55px;
    color: #1d1c1c;
    background-color: #fec415;
    font-style: normal;
    font-size: 15px;
    line-height: 1.7em;
    font-weight: 700;
    letter-spacing: 0.2px;
    transition: all .3s;


    @media screen and (min-width:1024px) {
        font-size: 16px;
        line-height: 1.56em;
        letter-spacing: 0px;
    }
}

.button-donate:hover, .button-donate:active {
    color:#ffffff;
    background-color: #1d1c1c;
    cursor: pointer;
}

.second-title {
    text-align: center;
    font-size: 24px;

    @media screen and (min-width:1024px) {
        font-size: 48px;
    }
}

.our-tagline {
    font-weight: 400;
    font-size: 15px;
    max-width: 360px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    @media screen and (min-width:1024px) {
        max-width: 1200px;
        font-size: 36px;
    }
}

.our-goal-price {
    display:flex;
    justify-content: center;
    
 }

 .our-goal-img {
    @media screen and (min-width:1024px) {
        display:none;
    }
 }
 .our-goal-img-desct {
    @media screen and (max-width:1023px) {
        display:none;
    }
 }



.our-goal-text {

    font-size: 24px;
    text-transform:uppercase;
   max-width:180px;
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 20px;

   @media screen and (min-width:1024px) {
    max-width: 350px;
    font-size: 48px;
}
}
.donate-important {
    font-size: 24px;
    color: 	#1D1C1C;
    text-align: center;
    margin-top: 20px;

    @media screen and (min-width:1024px) {
        font-size: 48px;
}
}

.offer-prize {
   display: flex;
   max-width: 345px;
   margin: auto;
   padding-top:30px;

   @media screen and (min-width:1024px) {
   max-width: 1200px;
}

}

.paints {
   position: relative;
}
.paints-mob {
    @media screen and (min-width:1024px) {
        display:none;
    }
   
}
.paints-desct {

    @media screen and (max-width:1023px) {
        display:none;
      }
}


.offer-text {

   font-size: 15px;
   padding: 3px;
   border-radius: 7px;
   width: 100px;
   height: 125px;
   background-color:#EEC04B;
   position: absolute;
   top: 0px;
   right: 0px;

   @media screen and (min-width:1024px) {
    width: 318px;
    height: 400px;
    top: 40px;
    right: 40px;
    border-radius: 12px;
}
}

.offer-text-donate {  
    font-weight: 400;  
  font-size: 13px;
  text-align: center;
  text-transform:uppercase;

  @media screen and (min-width:1024px) {
    font-size: 32px;
    margin-top: 50px;
   
}

}
.offer-text-summ {
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    
  @media screen and (min-width:1024px) {
    font-size: 45px;

}
}

.offer-text-description {
    font-weight: 400;  
    font-size: 10px;
    text-align: center;

    
  @media screen and (min-width:1024px) {
    font-size: 32px;
}
}

.our-slogan {
  font-weight: 400;
  max-width: 380px;
  font-size: 18px;
  text-align: center;
  margin: auto;

  @media screen and (min-width:1024px) {
    font-size: 36px;
    max-width: 1200px;

}

}

.conditions {
    max-width: 380px;
    margin: auto;


    @media screen and (min-width:1024px) {
        font-size: 36px;
        max-width: 1200px;
        font-weight: 400;
    }
}

.conditions-header {
    font-size: 16px;
    font-weight: 400;

    @media screen and (min-width:1024px) {
        font-size: 36px;
         margin-top:0px;
    }
}


.conditions-item {
    text-align: center;
    list-style-type: disc;


    @media screen and (min-width:1024px) {
        font-size: 36px;
        font-weight: 400;
    }
}

.conditions-result {
font-size: 28px;    
margin: auto;    
max-width: 600px;
text-align: center;
}


.conditions-list {
    margin: 20px;
    padding: 0;
 
}

.take-part:hover {
    margin: 15px auto;
    cursor: pointer;
    display: block;
    color:#FFFFFF;
    background-color: #79bcf7dc;
} 

.soclial-instagram {
    margin: 15px auto;
    display: block;
    border-radius: 20px;
    background-color: #EEC04B;
    color:#FFFFFF;
    padding: 10px 30px;
}

.soclial-instagram:hover {
    background-color:#FFFFFF;;
    color:#EEC04B;
    cursor: pointer;

}


.slider {
   display: flex;
   justify-content: center;
}


.address-bottom{
    display:flex;
    justify-content: center;

    @media screen and (min-width:1024px) {
        display: none;
    }
}

.legal-nfo {
    display:flex;
    justify-content: center;
}

.contacts {
    margin: 0px;
    padding: 0px;
    text-align: center;

    @media screen and (min-width:1024px) {
        display: none;
    }
}

.navigation-logo-button {

@media screen and (min-width:1024px) {
    display: none;
}
}

.address-bottom {
  font-style: normal;
  font-size: 16px;
}


.contacts-header {
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 5px;
} 

.contacts > li {
    font-style: normal;
    font-size: 12px;
    margin-bottom: 7px;
}

.navigation-desctop {
    @media screen and (max-width:1023px) {
        display: none;
    }
}

.contacts > a:active, a:link, a:visited{
    color:#1D1C1C;
}


footer {
    padding-bottom: 30px;
}


.contacts-desctop-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    @media screen and (max-width:1023px) {
        display: none;
    }
}

.contacts-desctop-list {
    font-size: 26px;
    overflow: hidden;
    display: block;
    text-align: center;
   

    @media screen and (max-width:1023px) {
        display: none;
    }

}

.contacts-desctop-list li {
    width: 50%;
	float: left;
   /*  list-style-type:disc; */
}

.address-bottom-desctop {
    font-size: 26px;
    @media screen and (max-width:1023px) {
        display: none;
    }

}

.navigation-logo-button-desctop {
    font-size: 26px;
   display: block;
   text-align: center;
    @media screen and (max-width:1023px) {
        display: none;
    }
}


/* Slider */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;

  @media screen and (max-width:1023px) {
    max-width: 480px;
    margin: 0 auto;
    justify-content: center;
}
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  border-radius: 30px;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 380px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width:1023px) {
  .carousel img{
    height: 155px;
  }
}

.carousel-desct {
    @media screen and (max-width:1023px) {
        display: none;
    }
}

.carousel-mob {
    @media screen and (min-width:1024px) {
        display: none;
    }
}
